.button {
    width: 100%;
    color: white;
    background: darkblue;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
}

.button:disabled {
    background: #888;
    cursor: not-allowed;
}